:root{
    /* color */
    --color-white: #ffffff;
    /* font */
    --font-large:48px;
    --font-medium:38px;
    --font-small:28px;

    /* weight */
    --weight-bold:700;
    --weight-light:300;
}
/* 전체 */
*{
    font-family: 'Noto Sans KR', sans-serif;
    margin: 0;
    padding:0;
    list-style: none;
    cursor: default;

}

a{
    text-decoration: none;
    color: black;
    
}
h1{
    font-size: var(--font-large);
    font-weight: var(--weight-bold);
    margin:8px 0px;
}
h2{
    font-size: var(--font-medium);
    font-weight: var(--weight-bold);
    margin:8px 0px;
}
h3{
    font-size: var(--font-medium);
    font-weight: var(--weight-light);
    margin:8px 0px;
}
p{
    font-size: var(--font-small);
    font-weight: var(--weight-light);
    margin:5px 0px;
}
/* navbar */
#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #c779d0;
    font-weight: var(--weight-bold);
    padding: 16px;

    
}
.navbar__logo{
    font-size: var(--font-small);
}
.navbar__menu{
    
    display:flex;
    
}
.navbar__menu__item{
    padding: 8px 0px;
    margin: 0px 20px;
    cursor: pointer;
}
.navbar__menu__item.active{
    transform: scale(1.5);
    color: var(--color-white);

}
.navbar__menu__item:hover{
    transform: scale(1.5);
    color: var(--color-white);

}